In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
properties = pd.read_csv('data/Propiedades-0701.csv')

In [3]:
properties.sample(15)

,id,created_on,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
627,953cc9bb5f8fb44020548e78b73e03e63b97c743,2017-01-04,sell,apartment,Rosario,|Argentina|Santa Fe|Rosario|,Argentina,Santa Fe,3838574.0,"-32.9371977,-60.6418951",...,NaN,1988.963538,NaN,NaN,2.0,NaN,http://www.properati.com.ar/14otc_venta_depart...,Semipisos de categoria. Amplio. Ventilacion cr...,Dos dormitorios! Jujuy 1500! financiación disp...,https://thumbs4.properati.com/3/GsyGrronLTxS2Q...
34672,17988c26ccef0d4298b495f01db26e92f6e3e441,2017-04-14,sell,apartment,Mar del Plata,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3430863.0,"-38.0088711,-57.5462502",...,30.0,1812.121212,1993.333333,NaN,1.0,NaN,http://www.properati.com.ar/17ea5_venta_depart...,Edificio Torre Gulfi .El departamento se desta...,Gascon 2011 - Tribunales - 1 Ambiente y medio ...,https://thumbs4.properati.com/0/Ayooz9UYiL2Ynp...
68466,1a9185056c4e0bf8039723ff30fbeb0cd3a0fa30,2017-06-13,sell,apartment,Rosario,|Argentina|Santa Fe|Rosario|,Argentina,Santa Fe,3838574.0,"-32.9518468,-60.6581683",...,46.0,1695.575217,27826.086957,NaN,2.0,NaN,http://www.properati.com.ar/195lw_venta_depart...,Se trata de un proyecto de 1050m2 cubiertos y ...,DEPARTAMENTO DE 1 DORMITORIO AL FRENTE. ENTREG...,https://thumbs4.properati.com/9/aYHdI4xEhzM8j9...
35273,446d13526ddaf3e21d729997598c2e2e41ae3a55,2017-04-20,sell,house,Maschwitz,|Argentina|Bs.As. G.B.A. Zona Norte|Escobar|Ma...,Argentina,Bs.As. G.B.A. Zona Norte,NaN,NaN,...,190.0,1044.444444,1236.842105,NaN,NaN,NaN,http://www.properati.com.ar/17fjl_venta_casa_m...,"EN VENTA, EXCELENTE CASA A ESTRENAR BARRIO SAN...","Casa 225m² con Cochera, Escobar, Maschwitz, po...",https://thumbs4.properati.com/3/dHV1xAv5g3GKfI...
65400,3a514ae21712318fcbaf56aededb6f049a7b45c8,2017-06-09,sell,apartment,Mar del Plata,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3430863.0,"-38.0781999,-57.5424217",...,31.0,NaN,1774.193548,NaN,1.0,NaN,http://www.properati.com.ar/190rb_venta_depart...,Departamento frente al marDepartamento frente ...,Depto 1 amb. Vista PLENA al mar 3°,https://thumbs4.properati.com/8/t5jMFejlO4E9tM...
72946,1629a061496b18deef3364e9f12c6c271231d71d,2017-06-20,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,"-34.5697532,-58.4511298",...,60.0,2500.000000,3250.000000,NaN,3.0,NaN,http://www.properati.com.ar/19c0y_venta_depart...,"Departamento canchero, con terraza, palier pri...",Amenabar 1200,https://thumbs4.properati.com/3/yVW-20nvA2LCIU...
46695,e2a7395e795c50c7d968669d02cc1abe8fe87b7d,2017-05-08,sell,apartment,Mendoza,|Argentina|Mendoza|,Argentina,Mendoza,3844419.0,"-32.911261,-68.81115",...,69.0,NaN,18115.942029,4.0,1.0,NaN,http://www.properati.com.ar/181ht_venta_depart...,Corredor Responsable: Real Estate New Generati...,HERMOSO DEPARTAMENTO EN ZONA DORREGO GUAYMALLEN,https://thumbs4.properati.com/8/tsc_37x8eIg6LY...
28751,b132277760a8071d1ead36c8387f42aa4080236f,2017-03-30,sell,apartment,Posadas,|Argentina|Misiones|Posadas|,Argentina,Misiones,3429886.0,"-27.3625121876,-55.8990082317",...,69.0,1819.211014,29855.072464,NaN,3.0,NaN,http://www.properati.com.ar/16yww_venta_depart...,"EN VENTA, DPTOS IMPECABLES, TERMINACION MODERN...",VENDO DEPTO DE PRIMERA CALIDAD EN POZO $2.060.000,https://thumbs4.properati.com/5/peEETMkqL7Yj7r...
11442,0e3ac46b1b172aad762c4f7c891582dc0c61ceab,2017-02-08,sell,house,Los Pingüinos Country Club,|Argentina|Bs.As. G.B.A. Zona Oeste|Ituzaingó|...,Argentina,Bs.As. G.B.A. Zona Oeste,NaN,"-34.62220383,-58.67963409",...,216.0,NaN,NaN,NaN,4.0,NaN,http://www.properati.com.ar/15l0b_venta_casa_l...,"Hermoso chalet con living comedor c/hogar, coc...",U$D 450.000 - Casa en Venta - De La Vidalita ...,https://thumbs4.properati.com/7/NeM_5HYAs2ZDFl...
57573,1d01b2794e410476a53211c4d50c5be36b7f8d4c,2017-05-28,sell,apartment,Retiro,|Argentina|Capital Federal|Retiro|,Argentina,Capital Federal,3429576.0,"-34.6002080968,-58.3782497051",...,33.0,2787.878788,2787.878788,NaN,1.0,1800.0,http://www.properati.com.ar/18lwr_venta_depart...,Muy lindo monoambiente a estrenar en zona cént...,DEPARTAMENTO EN VENTA,https://thumbs4.properati.com/3/crWGkGdq69kDV9...
71465,3308475259389552b1982b77e808c1d742cc6668,2017-06-17,sell,house,Lomas de Zamora,|Argentina|Bs.As. G.B.A. Zona Sur|Lomas de Zam...,Argentina,Bs.As. G.B.A. Zona Sur,NaN,"-34.7493183,-58.420379",...,600.0,NaN,1250.000000,NaN,NaN,NaN,http://www.properati.com.ar/199uc_venta_casa_l...,IMPONENTE CHALET DESARROLLADO EN DOS PLANTAS S...,Paso 1700 - Lomas de Zamora - Lomas de Zamora,https://thumbs4.properati.com/6/wJztkTciTtm48C...
14519,42db51468273f87c40f6c388b21c42428b9c32d2,2017-02-15,sell,apartment,Rosario,|Argentina|Santa Fe|Rosario|,Argentina,Santa Fe,3838574.0,"-32.9371824,-60.6418905",...,41.0,1222.869524,41115.975610,NaN,NaN,NaN,http://www.properati.com.ar/15s18_venta_depart...,Rosario: Jujuy 1515 (Entre Pte. Roca y Paragua...,Departamento 1 dormitorio a estrenar en venta ...,https://thumbs4.properati.com/2/MpcuuCSCOBeSi2...
67393,0e8996c378020c14573190500f33ecdd17aa74ee,2017-06-10,sell,apartment,Rosario,|Argentina|Santa Fe|Rosario|,Argentina,Santa Fe,3838574.0,"-32.953738,-60.6268908",...,36.0,NaN,NaN,NaN,2.0,NaN,http://www.properati.com.ar/193xq_venta_depart...,Departamento a estrenar con vista al río. Ubic...,Monoambiente en venta,https://thumbs4.properati.com/1/mDge0uusQ4oO2g...
31111,1f631e3c221899aad88d81fdbb3aaa48587f8d13,2017-04-05,sell,house,Bahía Blanca,|Argentina|Buenos Aires Interior|Bahía Blanca|,Argentina,Buenos Aires Interior,3865084.0,"-38.7208103,-62.2695083",...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/17611_venta_casa_b...,Importante casa en dos plantas ideal familia y...,IMPECABLE CASA IDEAL PROFESIONAL Y FAMILIA,https://thumbs4.properati.com/0/3lJsamCOCA5vvg...
61454,588d0eba0fa3e7defa66e60e38a2ed5c5fc2b983,2017-06-05,sell,apartment,Palermo Hollywood,|Argentina|Capital Federal|Palermo|Palermo Hol...,Argentina,Capital Federal,NaN,"-34.5825581928,-58.4325854443",...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/18u9f_venta_depart...,Very bright duplex with large windows .On the ...,Beautiful Duplex in Palermo Hollywood,https://thumbs4.properati.com/9/9ZB8lqM1_caEvL...

In [4]:
properties.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80258 entries, 0 to 80257
Data columns (total 27 columns):
id                            80258 non-null object
created_on                    80258 non-null object
operation                     80258 non-null object
property_type                 80258 non-null object
place_name                    80252 non-null object
place_with_parent_names       80258 non-null object
country_name                  80258 non-null object
state_name                    80258 non-null object
geonames_id                   67608 non-null float64
lat-lon                       67366 non-null object
lat                           67366 non-null float64
lon                           67366 non-null float64
price                         66675 non-null float64
currency                      66675 non-null object
price_aprox_local_currency    66675 non-null float64
price_aprox_usd               66675 non-null float64
surface_total_in_m2           57305 non-null float64
surface_covered_in_m2         68740 non-null float64
price_usd_per_m2              45058 non-null float64
price_per_m2                  58501 non-null float64
floor                         8506 non-null float64
rooms                         53430 non-null float64
expenses                      7175 non-null float64
properati_url                 80258 non-null object
description                   80256 non-null object
title                         80258 non-null object
image_thumbnail               79453 non-null object
dtypes: float64(13), object(14)
memory usage: 16.5+ MB

In [5]:
properties.describe()

,geonames_id,lat,lon,price,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses
count,6.760800e+04,67366.000000,67366.000000,6.667500e+04,6.667500e+04,6.667500e+04,57305.000000,6.874000e+04,45058.000000,5.850100e+04,8506.000000,53430.000000,7.175000e+03
mean,3.568023e+06,-34.628290,-59.339116,4.030816e+05,4.036306e+06,2.428291e+05,263.887322,2.921983e+04,2188.462527,5.833353e+03,18.374794,3.020007,6.325081e+03
std,4.002961e+05,2.036674,2.396346,8.051378e+05,6.185079e+06,3.721019e+05,2213.914491,7.628255e+06,3240.144109,2.448796e+04,143.496971,1.679229,1.678081e+05
min,3.427208e+06,-54.833014,-71.664029,5.000000e+03,8.238893e+04,4.956620e+03,0.000000,0.000000e+00,0.080000,5.000000e-05,1.000000,1.000000,1.000000e+00
25%,3.430234e+06,-34.687929,-58.775599,1.050000e+05,1.495980e+06,9.000000e+04,46.000000,4.500000e+01,1100.000000,1.544118e+03,1.000000,2.000000,1.100000e+03
50%,3.433359e+06,-34.595815,-58.492175,1.800000e+05,2.493300e+06,1.500000e+05,85.000000,7.500000e+01,1753.335705,2.166667e+03,3.000000,3.000000,2.000000e+03
75%,3.436397e+06,-34.426715,-58.393366,3.800000e+05,4.487940e+06,2.700000e+05,225.000000,1.520000e+02,2434.148461,3.200000e+03,6.000000,4.000000,4.000000e+03
max,6.942842e+06,-23.137164,-54.559587,1.111111e+08,7.736784e+08,4.654544e+07,200000.000000,2.000000e+09,206333.333333,2.600000e+06,7071.000000,40.000000,1.000150e+07

In [6]:
print(len(properties))

80258

In [7]:
properties = properties.loc[:,['state_name','place_name','property_type','price','price_aprox_local_currency',\
                               'price_aprox_usd','surface_total_in_m2',\
                               'surface_covered_in_m2',\
                               'price_usd_per_m2','price_per_m2']]

In [8]:
properties.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80258 entries, 0 to 80257
Data columns (total 10 columns):
state_name                    80258 non-null object
place_name                    80252 non-null object
property_type                 80258 non-null object
price                         66675 non-null float64
price_aprox_local_currency    66675 non-null float64
price_aprox_usd               66675 non-null float64
surface_total_in_m2           57305 non-null float64
surface_covered_in_m2         68740 non-null float64
price_usd_per_m2              45058 non-null float64
price_per_m2                  58501 non-null float64
dtypes: float64(7), object(3)
memory usage: 6.1+ MB

In [9]:
# Clean NAs if all the row is null
properties_clean = properties.dropna(how='all')

In [10]:
properties_clean.sample(10)

,state_name,place_name,property_type,price,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2
21805,Capital Federal,Capital Federal,house,640000.0,10638080.00,640000.00,977.0,468.0,655.066530,1367.521368
8176,Buenos Aires Costa Atlántica,La Perla,apartment,155000.0,2576410.00,155000.00,125.0,125.0,1240.000000,1240.000000
60938,Bs.As. G.B.A. Zona Norte,Virreyes,store,210000.0,3490620.00,210000.00,0.0,267.0,NaN,786.516854
1430,Bs.As. G.B.A. Zona Oeste,Bs.As. G.B.A. Zona Oeste,apartment,320000.0,5319040.00,320000.00,2000.0,NaN,160.000000,NaN
44832,Capital Federal,Flores,apartment,345000.0,5734590.00,345000.00,0.0,0.0,NaN,NaN
762,Bs.As. G.B.A. Zona Oeste,Villa Bosch,PH,130000.0,2160860.00,130000.00,95.0,95.0,1368.421053,1368.421053
79524,Bs.As. G.B.A. Zona Norte,Tigre,house,255000.0,4238610.00,255000.00,230.0,180.0,1108.695652,1416.666667
23501,Buenos Aires Costa Atlántica,Pinamar,apartment,330000.0,5485260.00,330000.00,20.0,140.0,16500.000000,2357.142857
15663,Santa Fe,Santa Fe,house,1150000.0,1164785.65,70074.94,120.0,120.0,583.957833,9583.333333
37489,Capital Federal,Almagro,apartment,169000.0,2809118.00,169000.00,100.0,70.0,1690.000000,2414.285714

In [11]:
# Clean NAs if something  has relation with price 
properties = properties_clean.dropna(how='all',subset=
                                ['property_type','price','price_aprox_local_currency',\
                               'price_aprox_usd','surface_total_in_m2',\
                               'surface_covered_in_m2',\
                               'price_usd_per_m2','price_per_m2'])

In [12]:
properties.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80258 entries, 0 to 80257
Data columns (total 10 columns):
state_name                    80258 non-null object
place_name                    80252 non-null object
property_type                 80258 non-null object
price                         66675 non-null float64
price_aprox_local_currency    66675 non-null float64
price_aprox_usd               66675 non-null float64
surface_total_in_m2           57305 non-null float64
surface_covered_in_m2         68740 non-null float64
price_usd_per_m2              45058 non-null float64
price_per_m2                  58501 non-null float64
dtypes: float64(7), object(3)
memory usage: 6.7+ MB

In [13]:
prop_cap_fed = properties.loc[properties.state_name.str.contains('Capital Federal'),:]

In [32]:
prop_cap_fed.head()

,state_name,place_name,property_type,price,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2
2,Capital Federal,Villa Urquiza,apartment,109000.0,1811798.0,109000.0,NaN,43.0,NaN,2534.883721
3,Capital Federal,Villa Urquiza,apartment,89900.0,1494317.8,89900.0,NaN,38.0,NaN,2365.789474
5,Capital Federal,San Telmo,apartment,80000.0,1329760.0,80000.0,NaN,47.0,NaN,1702.127660
7,Capital Federal,Centro / Microcentro,store,200000.0,3324400.0,200000.0,NaN,20.0,NaN,10000.000000
16,Capital Federal,Flores,apartment,170000.0,2825740.0,170000.0,100.0,90.0,1700.0,1888.888889

In [37]:
# clean m2 Nan
pcf = prop_cap_fed.dropna(how='all',subset=['price_aprox_usd'])

# Mean m2 in Cap fed.
grouped = pcf.loc[:,['place_name','price_usd_per_m2']]\
            .groupby('place_name')\
            .agg([np.mean,np.size])
           
top20 = grouped.loc[grouped[('price_usd_per_m2','size')]>100,:]\
               .sort_values(('price_usd_per_m2','mean'), ascending=False).head(20)
# top 5    
top20.head(20)

                     price_usd_per_m2
                                 mean    size
place_name
Boedo                    13942.343417   643.0
San Cristobal            10949.443711   525.0
Puerto Madero             5881.934782   374.0
Palermo Chico             4776.335476   160.0
Las Cañitas               3412.732904   150.0
Recoleta                  3375.873494   991.0
Palermo                   3266.189354  1725.0
Palermo Soho              3159.121284   209.0
Palermo Hollywood         3096.755625   242.0
Barrio Norte              3004.601999   986.0
Belgrano                  2982.817636  1562.0
Congreso                  2899.589635   244.0
Nuñez                     2889.988573   488.0
Almagro                   2889.240372   875.0
Retiro                    2886.912124   182.0
Saavedra                  2711.008735   271.0
Centro / Microcentro      2653.668237   222.0
Colegiales                2583.118082   266.0
Coghlan                   2524.196091   191.0
Villa Urquiza             2488.638410   755.0

In [64]:
# clean m2 Nan
pcf_prop_type = prop_cap_fed.dropna(how='all',subset=['price_aprox_usd'])

# Mean m2 in Cap fed per property type
grouped = pcf_prop_type .loc[:,['place_name','property_type','price_usd_per_m2']]\
            .groupby(['place_name','property_type'])\
            .agg([np.mean,np.size])
               
top20 = grouped.loc[grouped[('price_usd_per_m2','size')]>20,:]\
               .sort_values(('price_usd_per_m2','mean'), ascending=False).head(20)
# top 5  for each group fo property type  
top20.head()

                            price_usd_per_m2
                                        mean   size
place_name    property_type
Boedo         apartment         14956.335996  569.0
San Cristobal apartment         12239.949221  451.0
Boedo         house              6892.026361   32.0
Puerto Madero apartment          5926.935563  365.0
Recoleta      store              4764.228880   43.0

In [61]:
# clean m2 Nan
pcf_house = prop_cap_fed.dropna(how='all',subset=['price_aprox_usd'])

# Mean m2 in Cap fed.
grouped = pcf_house.loc[(pcf_house.property_type =='house'),:]\
            .loc[:,['place_name','price_usd_per_m2']]\
            .groupby('place_name')\
            .agg([np.mean,np.size])
           
top20 = grouped.loc[grouped[('price_usd_per_m2','size')]>10,:]\
               .sort_values(('price_usd_per_m2','mean'), ascending=False).head(20)
# top 20  m2 per house  
top20.head(20)

                 price_usd_per_m2
                             mean  size
place_name
Boedo                 6892.026361  32.0
Palermo Chico         5876.579677  14.0
Almagro               2763.033951  27.0
Belgrano              2531.277328  70.0
Palermo               2523.055818  41.0
Colegiales            2227.889631  19.0
Nuñez                 2089.354155  34.0
Villa Pueyrredón      2017.720448  23.0
San Telmo             1948.124415  13.0
Villa Crespo          1815.195766  22.0
Caballito             1750.551182  42.0
Villa Devoto          1664.069657  54.0
Saavedra              1661.444840  36.0
Villa Urquiza         1654.529139  48.0
Flores                1617.027369  74.0
San Cristobal         1553.442578  11.0
Monte Castro          1455.536794  14.0
Versalles             1417.453011  11.0
Liniers               1325.445059  38.0
Villa del Parque      1286.309981  38.0

In [65]:
# clean m2 Nan
pcf_house = prop_cap_fed.dropna(how='all',subset=['price_aprox_usd'])

# Mean m2 in Cap fed.
grouped = pcf_house.loc[(pcf_house.property_type =='apartment'),:]\
            .loc[:,['place_name','price_usd_per_m2']]\
            .groupby('place_name')\
            .agg([np.mean,np.size])
           
top20 = grouped.loc[grouped[('price_usd_per_m2','size')]>100,:]\
               .sort_values(('price_usd_per_m2','mean'), ascending=False).head(20)
# top 20  m2 per apartment
top20.head(20)

                     price_usd_per_m2
                                 mean    size
place_name
Boedo                    14956.335996   569.0
San Cristobal            12239.949221   451.0
Puerto Madero             5926.935563   365.0
Palermo Chico             4649.128261   145.0
Las Cañitas               3409.572240   147.0
Recoleta                  3326.306408   934.0
Palermo                   3305.487057  1548.0
Palermo Soho              3192.808194   189.0
Palermo Hollywood         3157.591100   215.0
Belgrano                  3019.672417  1431.0
Nuñez                     3003.661334   411.0
Congreso                  2994.575143   223.0
Almagro                   2991.421045   752.0
Barrio Norte              2948.143407   925.0
Saavedra                  2882.668482   197.0
Retiro                    2870.609288   170.0
Colegiales                2707.473275   216.0
Villa Urquiza             2633.282790   613.0
Centro / Microcentro      2568.234248   169.0
Coghlan                   2563.441219   162.0

In [ ]:
# proxima tarea: 
# comparar tipos de ambientes, hay zonas donde el m2 es mas caro
# pero se caracteriza por vender un tipo de ambientes determinado.
# ...